<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/partials/page-sucess.css">
    <title>Título</title>
</head>

<body>
    <div class="sucess" id="sucess-page">
        <div class="mensage-sucess">
            <img src="/images/icons/success-check-icon.svg" alt="sucesso">
            <strong>Cadastro Salvo!</strong>
            <p>
                Tudo certo seu Cadastro está na nossa lista de professores
            </p>

            <p>
                Agora é só ficar de olho no seu whatsapp
            </p>

            <button>Acessar Lista de Proffys</button>
        </div> 
    </div>

    <script src="scripts/timeoutSucess.js"></script>
</body>

</html>